* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(9, 9, 9, 0.9);
	border-radius: 10;
}

button {
    border-radius: 10;
    border-color: #fafafa;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: rgba(15, 15, 15, 0.40);
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin-top: 5;
	margin-bottom: 5;
	margin-right: 5;
	margin-left: 5;
}

button:focus, button:active, button:hover {
	background-color: #1a1a1a;
	outline-style: none;
	margin-top: 10;
	margin-bottom: 10;
	margin-left: 10;
	margin-right:10;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock_white.png"), url("/usr/local/share/wlogout/icons/lock_white.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout_white.png"), url("/usr/local/share/wlogout/icons/logout_white.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend_white.png"), url("/usr/local/share/wlogout/icons/suspend_white.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate_white.png"), url("/usr/local/share/wlogout/icons/hibernate_white.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown_white.png"), url("/usr/local/share/wlogout/icons/shutdown_white.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
