* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(22, 23, 27, 0.77);
	border-radius: 10;
}

button {
    border-radius: 10;
    border-color: #fafafa;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: rgba(22, 23, 27, 0.70);
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin-top: 5;
	margin-bottom: 5;
	margin-right: 5;
	margin-left: 5;
}

button:focus, button:active, button:hover {
	background-color: rgba(50, 55, 87, 0.88);
	outline-style: none;
	margin-top: 10;
	margin-bottom: 10;
	margin-left: 10;
	margin-right:10;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
