window {
	font-size: 17px;
	font-family: "SourceCodePro";
	background-color: rgba(15, 15, 15, 0.70);
	border-radius: 10;
	color: #ffffff;
}

#entry:selected {
	background-color: rgba(60, 60, 60, 0.75);
	border-radius: 10;
	padding: 0.45em;
	margin-left: 3;
	margin-right: 3;
}

#entry:unselected {
	color: #ffffff;
	padding: 0.15em;
	border-radius: 5
}

#input {
	background-color: rgba(23, 23, 23, 0.90);
	margin-left: 3;
	margin-right: 3;
	margin-top: 3;
	margin-bottom: 3;
	color: #ffffff;
	padding: 0.17em;
	border-radius: 5
}
