window {
	font-size: 17px;
	font-family: "font-awesome";
	background-color: rgba(18, 18, 18, 0.85);
	color: #ffffff;
}

#entry:selected {
	background-color: #303030;
        border: none;
	border-radius: 10;
	padding: 0.5em;
}

#entry:unselected {
	background-color: #101010;
	color: #ffffff;
	padding: 0.15em;
	border: none;
	border-radius: 5
}

#input {
	background-color: #303030;
	color: #ffffff;
	padding: 0.17em;
	border: none;
	border-radius: 3
}
